.arrow-profite {
  width: 24px;
  height: 24px;
  display: none;
  border: 4px var(--color-fifth) solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  text-indent: -9999px;
  outline: none;
}

.arrow-profite:hover {
  border-top-color: var(--color-first);
  border-right-color: var(--color-first);
}

.arrow-profite.-active {
  display: block;
}

.arrow-profite.-left {
  transform: rotate(-135deg);
}
