.bullet-profite {
  display: block;
  width: 7px;
  height: 7px;
  background: var(--color-fifth);
  border-radius: 50%;
  text-indent: -999px;
}

.bullet-profite.-active {
  background: var(--color-first);
}
